footer {
  display: flex;
  flex-direction: column;
  font-size: var(--scalar-paragraph);
  line-height: 1.625;
  border-top: var(--scalar-border-width) solid var(--scalar-border-color);
}
footer p {
  margin-bottom: 25px;
}
footer a {
  width: fit-content;
  color:var(--scalar-color-accent)
}
footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-content {
  margin: 0 auto;
  padding: 50px;
}  
@media (max-width: 1000px) {
  footer {
    max-width: 100%;
  }
}
